[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gevent = "==1.2.2"
greenlet = "==0.4.13"
gunicorn = "==19.7.1"
wsgiref = "==0.1.2"
elastic-apm = "==3.0.1"
python-logstash = "==0.4.6"
indigo = {editable = true, ref = "d3587241c9dfb43dcd6d7681d7da6c1620541810", git = "https://github.com/OpenUpSA/indigo.git"}

[dev-packages]
django-extensions = "*"
django-debug-toolbar = "*"
werkzeug = "*"
#indigo = {editable = true, path = "./../../africanlii/indigo", extras = ["test"]}

[requires]
python_version = "2.7"
