[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gevent = "==1.2.2"
greenlet = "==0.4.13"
gunicorn = "==19.7.1"
wsgiref = "==0.1.2"
indigo = {editable = true, ref = "aa6e5159ddd7eceea2dc18adbe833ed34f250e78", git = "https://github.com/OpenUpSA/indigo.git"}

[dev-packages]
django-extensions = "*"
django-debug-toolbar = "*"
werkzeug = "*"
#indigo = {editable = true, path = "./../../africanlii/indigo", extras = ["test"]}

[requires]
python_version = "2.7"
