[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gevent = "==1.2.2"
greenlet = "==0.4.13"
gunicorn = "==19.7.1"
wsgiref = "==0.1.2"
indigo = {editable = true, ref = "b3f95b63ef46b2ee93a4a27bb93520390afea0dd", git = "https://github.com/OpenUpSA/indigo.git"}

[dev-packages]

[requires]
python_version = "2.7"
