gevent==1.2.2
greenlet==0.4.13
gunicorn==19.7.1
wsgiref==0.1.2
elastic-apm==3.0.1
python-logstash==0.4.6
-e git+https://github.com/OpenUpSA/indigo.git@1d89567ba00c8f5382e33ff495928eb4b10fb740#egg=indigo
-e git+git@github.com:longhotsummer/indigo-workflow.git@master#egg=indigo-workflow
